<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>YelpCamp</title>
  <base href="/" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/landing.css">
  <style>
   
  </style>
</head>
<body>

  <% if(message) { %>
    <h6 class="alert alert-primary" role="alert"> <%= message %> </h6>
  <% } %>

  <div class="landing">
    <h1 class="landing__header">Welcome to YelpCamp!</h1>
    <a href="/campgrounds" class="landing__link btn btn-lg btn-success">View All Campgrounds</a>
  </div>
   
  <ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>


<%- include("./partials/footer.ejs") %>
